---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";

export async function getStaticPaths() {
  const articleList = await getCollection("articles");
  return articleList.map((article) => ({
    params: { slug: article.data.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<Layout>
  <a href="/articles">-- back</a>
  <h1>{article.data.title}</h1>
  <p>Published: {article.data.publish_date.toISOString().slice(0, 10)}</p>
  <Prose>
    <Content />
  </Prose>
</Layout>
