---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const articleList = await getCollection("articles");
---

<Layout>
  <main class="pt-32 pb-20">
    <div class="max-w-screen-xl mx-auto px-6 lg:px-8 xl:px-10">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-medium mb-8">News</h1>
        {
          articleList.map((article) => (
        <a href=`/articles/${article.data.slug}`>
              <h2 class="text-2xl">{article.data.title}</h2>
              <p>{article.data.description}</p>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
