---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Pricing from "../components/Pricing.astro";
import GetNotified from "../components/GetNotified.astro";
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Pricing />
    <GetNotified />
  </main>
</Layout>
