---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
---

<Layout>
  <main class="space-y-20">
    <Hero />
    <Features />
  </main>
</Layout>
