---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Motorcycle navigation app" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Moto.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ridi to ride</title>
    <meta
      name="description"
      content="Ridi is the ultimate motorcycle navigation app that puts you in control of your ride. Whether you crave curvy highways, serene green lanes, or rugged mountain tracks, Ridi crafts personalized routes tailored to your preferences. No more hours wasted poring over maps—just hop on your bike and let Ridi guide you to the perfect adventure."
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="bg-white font-SpaceGrotesk">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
