---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const newsList = await getCollection("news");
  return newsList.map((newsEntry) => ({
    params: { id: newsEntry.id },
    props: { newsEntry },
  }));
}

const { newsEntry } = Astro.props;
const { Content } = await render(newsEntry);
---

<h1>{newsEntry.data.title}</h1>
<p>Published: {newsEntry.data.public_date}</p>
<Content />
